body {
    background-color: white;
    margin: 0 !important;
    padding: 0 !important;
}

.top_bar {
    border-width: 0.2vw;
    border-color: black;
    border-style: solid;

    width: 100vw;
    height: 5vh; 
}

.login_button {
  background-color: white;
  color: black;
  /* border-width: 0.2vw; */
  /* border-style: solid; */
  border-left: solid black 0.2vw;
  width: 10vw;
  height: 5vh;
}