body {
  background-color: white;
}

.login_field {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  padding: 0.5vw;
  width: 10vw;
}

.login_button {
  border: 100px;
}

.login_box {
  padding-left: 0.3vw;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 0.5vw;
  /* width: 30vw; */
  max-width: 30vw;
  min-width: 0.1vw;

  display: flex;
  justify-content: center;
}