{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}



{% block body %}
    <div>
        <div class="top_bar">
            <!-- <div class="login_button">
                <a href="/login"> Login </a>
            </div> -->
        </div>

        <div class="agenda_vak">
            <div class="dagen_balk">
                 
            </div>

            <div class="data_balk">
                {% for i in range(0, dict_lenght) %}
                    <!-- if today -->
                    <p>{{day_numbers[i]}}</p>
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}
