{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}



{% block body %}
    <div class="login_box">
        <form method="post", action="">
            <!-- {{ form.hidden_tag() }} -->
            
            <div class="">
                {{ form.username(class_="login_field") }}
            </div>

            <div class="">
                {{ form.password(class_="login_field") }}
            </div>

            <div class="">
                {{ form.submit(class_="login_button") }}
            </div>
        </form>
    </div>
{% endblock %}
